#nav{
    width: 100%;
    height: 100px;
    background-color: bisque;
    grid-area: nav;
}

#menu{
    width: 100%;
    height: 100%;
    background-color: burlywood;
    grid-area: menu;
}
#main{
    width: 100%;
    height: 900px;
    background-color: beige;
    grid-area: main;
    
}

#footer{
    width: 100%;
    height: 150px;
    background-color: rgb(214, 156, 81);
    grid-area: footer;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#mainGrid{
    display: grid;
    grid-template-areas:'nav nav nav'
                        'menu main main'
                        'menu footer footer' ;
}
