nav{
    background-color: gray;
    display: flex;
    justify-content: space-between;
   align-items: center;
   height: 120px;
}

ul{
    list-style:none;
    display: flex;
gap:100px;
margin-right: 35%;

}
header{
    background-color: black;
    height: 60px;
    color: #ffffff;
    text-align: center;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

section{
    background-color: rgb(153, 139, 139);
    margin: 30px;
    height: 150px;
}
article{
    background-color: rgb(153, 139, 139);
    margin: 30px;
    height: 150px;
}


footer{
    background-color: gray;
    height: 150px;
   position: fixed;
   width: 100%;
   bottom: 0px;
   padding: 20px;
 

}
#list ul{
    display: block;
    margin-left: 45%;

}

#list ul a{
    border: none;
    
}

#list ul a:hover{
   background-color: inherit;
   color: white;
    
}