#navbar{
    background-color: gray;
    display: flex;
    justify-content: space-between;
   align-items: center;
   height: 120px;
}

ul{
    list-style:none;
    display: flex;
gap:100px;
margin-right: 35%;

}

.im img{
    border-radius: 50%;
    margin-left: 30px;
}

a{
    font-size: 30px;
    text-decoration: none;
color: black;
padding: 10px;
border: 1px solid black;
text-align: center;
border-radius: 10px;
}

a:hover{
    background-color:white;
}





#footer{
    background-color: gray;
    height: 150px;
   /* position: absolute; */
   width: 100%;
   /* bottom: 0px; */
   padding: 20px;
 

}
#list ul{
    display: block;
    margin-left: 45%;

}

#list ul a{
    border: none;
    
}

#list ul a:hover{
   background-color: inherit;
   color: white;
    
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  
}

#mainGrid{
    display: grid;
    grid-template-columns: auto auto auto ;
    margin: 40px;
}

.gridItem{
    text-align: center;
    background-color: rgb(91, 84, 84);
    margin: 20px;
    padding: 40px;
    border: 3px solid black;
    border-radius: 30px;
}

.imageGrid{
    border-radius: 20px;

}
.gridItem button{
    font-size: 16px;
    padding: 10px;
    border-radius: 15%;
    margin-top: 10px;
}
.gridItem p{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* mobile:max-width:600px
tablate: max-width:600px-900px

desktop:max-width:1024px


*/
/* desktop  */
@media screen and (max-width:1024px) {
    body{
        background-color: aqua;
    }

    #mainGrid{
    display: grid;
    grid-template-columns: auto auto auto ;
    margin: 0px;
   
}

.gridItem{
    text-align: center;
    background-color: rgb(91, 84, 84);
    margin: 14px;
    padding: 40px;
    border: 3px solid black;
    border-radius: 30px;
}

.imageGrid{
    border-radius: 20px;
    width: 200px;

}
.gridItem button{
    font-size: 16px;
    padding: 10px;
   
    border-radius:17%;
    margin-top: 10px;
}
.gridItem p{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbar{
    background-color: gray;
    display: flex;
    justify-content: space-between;
   align-items: center;
   height: 120px;
}

ul{
    list-style:none;
    display: flex;
gap:80px;
/* margin-right: 35%; */
margin-left: 50px;

}

.im img{
    border-radius: 50%;
    margin-left: 30px;
}

a{
    font-size: 16px;
    text-decoration: none;
color: black;
padding: 10px;
border: 1px solid black;
text-align: center;
border-radius: 10px;
}

#footer{
    background-color: gray;
    height: 150px;
   /* position: absolute; */
   width: 100%;
   /* bottom: 0px; */
   padding: 20px;
 

}
#list ul{
    display: block;
    margin-left: 45%;
  margin-top: 3%;
}

#list ul a{
    border: none;
    font-size: 18px;
     
    
}
#list ul a i{
    display: inline;
 
}
#list ul a:hover{
   background-color: inherit;
   color: white;
    
}
}
/* tablate */
@media screen and (max-width:900px) {
    body{
        background-color: aqua;
    }

    #mainGrid{
    display: grid;
    grid-template-columns: auto auto  ;
    margin: 0px;
}

.gridItem{
    text-align: center;
    background-color: rgb(91, 84, 84);
    margin: 20px;
    padding: 40px;
    border: 3px solid black;
    border-radius: 30px;
}

.imageGrid{
    border-radius: 20px;
    width: 180px;

}
.gridItem button{
    font-size: 16px;
    padding: 10px;
    border-radius: 17%;
    margin-top: 10px;
}
.gridItem p{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbar{
    background-color: gray;
    display: flex;
    justify-content: space-between;
   align-items: center;
   height: 120px;
}

ul{
    list-style:none;
    display: flex;
gap:50px;
/* margin-right: 35%; */
margin-left: 50px;

}

.im img{
    border-radius: 50%;
    margin-left: 30px;
}

a{
    font-size: 16px;
    text-decoration: none;
color: black;
padding: 10px;
border: 1px solid black;
text-align: center;
border-radius: 10px;
}

#footer{
    background-color: gray;
    height: 150px;
   /* position: absolute; */
   width: 100%;
   /* bottom: 0px; */
   padding: 20px;
 

}
#list ul{
    display: block;
    margin-left: 45%;
  margin-top: 3%;
}

#list ul a{
    border: none;
     
    
}
#list ul a i{
    display: inline;
 
}
#list ul a:hover{
   background-color: inherit;
   color: white;
    
}
}


@media screen and (max-width:600px) {
    body{
        background-color: aqua;
    }

    #mainGrid{
    display: grid;
    grid-template-columns: auto auto  ;
    /* margin: 40px; */
}

.gridItem{
    text-align: center;
    background-color: rgb(91, 84, 84);
    margin: 20px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 30px;
}

.imageGrid{
    border-radius: 20px;
    width: 90px;

}
.gridItem button{
    font-size: 16px;
    padding: 7px;
    border-radius: 17%;
    margin-top: 10px;
}
.gridItem p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navbar{
    background-color: gray;
    display: flex;
    justify-content: space-between;
   align-items: center;
   height: 120px;
}

ul{
    list-style:none;
    display: flex;
gap:30px;
/* margin-right: 35%; */
margin-left: 30px;

}

.im img{
    border-radius: 50%;
    margin-left: 30px;
}

a{
    font-size: 16px;
    text-decoration: none;
color: black;
padding: 10px;
border: 1px solid black;
text-align: center;
border-radius: 10px;
}

#footer{
    background-color: gray;
    height: 150px;
   /* position: absolute; */
   width: 100%;
   /* bottom: 0px; */
   padding: 20px;
 

}
#list ul{
    display: block;
    margin-left: 45%;
  margin-top: 5%;
}

#list ul a{
    border: none;
     
    
}
#list ul a i{
    display: inline;
 
}
#list ul a:hover{
   background-color: inherit;
   color: white;
    
}
}