#navbar{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
}
#header{
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://media.istockphoto.com/id/1459373176/vector/abstract-defocused-background-spring-summer-sea.jpg?s=612x612&w=0&k=20&c=P6D1VrXeeKsJfyKzlJeIqxyNXkeYtMb6C1mW6p68xro=');
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#navbar ul{
    list-style: none;
    display: flex;
    gap: 100px;
    margin-left: 37%;
    margin-top: 40px;
}
a{
    text-decoration: none;
    font-size: 30px;
}
#bg{
    display: grid;
    /* grid-template-columns: auto auto; */
    grid-template-areas: 'imge div'
                           'imge div';
    text-align: center;
}
#imge{
    /* margin-left: 20px; */
    margin-right: 30%;
   
    margin-top: 50px;
}
#imge img{
     width: 300px;
    border-radius: 50%;
}
#div{
    margin-top: 250px;
}